
/* ======== General Styling ======== */
html {
    overflow: hidden;
}

body{
	background-image: url("../images/background.png");
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#media, #color, #red-place, #blue-place, #green-place, #yellow-place, #dog, #year {
    width: 400px;
    margin: 0px auto;
    position: relative;
    top: -40px;
}


#color, #dog {
    top: -80px;
}

#media {
    top: -15px;
}


/* ======== Fonts + Printing ======== */
h1 {
    color: $main-green;
    font-family: $font-family;
    font-size: $main-size;
    font-family: $font-family;
    font-style: italic;
    padding-top: $btn-text;
}


h2 {
    text-align: center;
    color: $main-green;
    font-family: $font-family;
    font-size: $question-size;
}


p {
    text-align: center;
    color: $main-green;
    font-family: $font-family;
    font-size: $text-size;
}
