/* ======== Variables ======== */
$main-green: #a5e8c8;
$main-purple: #51456c;
$cream: #f5f5f5;
$btn-back: #7c8093;

@font-family: 'The Girl Next Door', cursive;
$font-family: 'Bad Script', 'The Girl Next Door';
$question-size: 45px;
$main-size: 135px;
$text-size: 35px;
$btn-text: 25px;
$modal: 400px;
