/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$background-color: #42444d;
$main-green: #a5e8c8;
$font-family: fantasy;

body{
	background-color: $background-color;
}
h1 {
	color: $main-green;
	font-family: $font-family;
	font-size: 100px;
	font-style: italic;
    padding-top: 20px;
}


h2 {
    text-align: center;
    color: $main-green;
    font-family: fantasy;
    font-size: 35px;
}


p {
    text-align: center;
    color: $main-green;
    font-family: fantasy;
    font-size: 20px;
}


form {
    margin-top: 3%;
}


/*
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}
*/

.side {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    border-radius: 50%;
    border: 0px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #6fafb5;
   border: 2px solid #000000;
}


.prompt {
    margin-top: 10%;
}

.fourPhotos{
    text-align: center;
}

.textAnswer {
    display: block;
    margin: 20px auto 20px auto;
    width: 200px;
    height: 60px;
    font-family: fantasy;
    font-size: 30px;
    color: $main-green;
    background-color: #7c8093;
    border: medium solid #ffffff;
    box-sizing: border-box;
    -webkit-border-radius: 7%;
	-moz-border-radius: 7%;
	border-radius: 7%;
}

.continue {
    @extend .textAnswer;
    position: relative;
    bottom: 0px;
}

input[type="image"]{
    width: 180px;
    height: 180px;
    padding: 2px;
    border-radius: 2px;
}
label > input{ /* HIDE RADIO */
display:none;
}
label > input + img{ /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border: 2px solid $main-green;
}
#homepage {
    text-align: center;
    top: 14em;
}

/*
.start {
    @extend .textAnswer;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
*/

.start, .about {
    @extend .textAnswer;
    display: inline-block;
    text-decoration: none;
    line-height: 55px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 270px;
    height: 270px;
	position: relative;
    top: 75px;
    border-radius: 50%;
	margin: 10% auto;
	background: #ffffcc;
    padding: 50px 40px 0px 40px;
    box-sizing: padding-box;
}

.modalDialog > div > * {
    color: #343434;
}

.close {
	background: #ffffcc;
	color: #FFFFFF;
	line-height: 35px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -1px;
    right: 30px;
	width: 35px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 50%;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: $main-green; }

