
/* ======== Main Syling ======== */
@import "compass/reset";
@import "variables";
@import "general";
@import "modal";
@import "arrow";
@import "text_question";
@import "photo_question";
@import "all_questions";
@import "side_buttons";
@import "homepage";
@import "final";
