button.side.home(type="button") &#8962
button.side.aboutbtn(type="button") ?
a(href="#openModal_about")div#openModal.modalDialog
	div
		div
			a.close(href="#close" title="Close") X
			h2 About
			p This website caters to your mood. We'll celebrate victories with you and cheer you up when you're blue.
			p You only need to answer a few short questions and you will be rewarded with a mood token at the end.
			p Enjoy!