div.modalDialog#openModal_contact
	div
		div
			a.close(href="#close" title="Close") x
			h2 Contact Us
			p We're three seniors at Macalester. Contact us at:
			p Barbara
			a(href="mailto:bborgesr@macalester.edu?Subject=Moodism%20Website" target="_top") bborgesr@macalester.edu