
/* ======== Final page ======== */
iframe {
    margin: 50px auto;
}

#finalside {
    margin-left: 12px;
}

#final {
    position: relative;
    top: -130px;
}

#final * {
    text-align: center;
}


#token p:first-child, {
    padding-top: 50px;
}

#token p:last-child, {
    padding-bottom: 50px;
}

#token p {
    font-family: sans-serif;
    color: $cream;
    font-size: 20px;
    padding: 5px;
}

#token h5 {
    font-family: sans-serif;
    color: $cream;
    font-size: 30px;
    padding: 50px;
}

.startOver{
   @extend .textAnswer;
}
