div#color
	h2 Pick a color:

	form.fourPhotos
		label
			input(type='radio' name='color' value='red')
			img(width="180px" height="180px" src='images/red.jpg')
		label
			input(type='radio' name='color' value='blue')
			img(width="180px" height="180px" src='images/blue.jpg')
		label
			input(type='radio' name='color' value='yellow')
			img(width="180px" height="180px" src='images/yellow.jpg')
		label
			input(type='radio' name='color' value='greem')
			img(src='images/green.jpg')

	button(type='submit').continue Continue