button.side.contact(type="button") &#9993
a(href="#openModal_contact")
div.modalDialog#openModal_contact
	div
		div
			a.close(href="#close" title="Close") x
			h2 Contact Us
			p We're three seniors at Macalester. Contact us at:
			p Barbara
			a(href="mailto:bborgesr@macalester.edu?Subject=Moodism%20Website" target="_top") bborgesr@macalester.edu
			p Annabelle
			a(href="mailto:anichol1@macalester.edu?Subject=Moodism%20Website" target="_top") anichol1@macalester.edu
			p Judy
			a(href="mailto:jsyrkinn@macalester.edu?Subject=Moodism%20Website" target="_top") jsyrkinn@macalester.edu