doctype html
html(lang = "en")
    head
        title Moodism
        style(type="text/css")
            include ../public/stylesheets/screen.css
            include ../public/stylesheets/grid.css
        link(href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door', rel='stylesheet', type="text/css")
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
            include ../public/javascript/final.js
    body
        div.container_12
            div.grid_12
                h1 M
        div.container_12#main
            div.grid_2
                include about.jade
                include contact.jade
            div.grid_8#final
                h2 We matched your mood to this song.
                p Enjoy!
                center
                  p hello
                p Thanks for visiting, and have a 'Mood-iful' day!
                center
                  button.startOver Start Over