doctype html
html(lang = "en")
	head
		title Moodism
        link(href='/../public/stylesheets/print.css', media="print", rel='stylesheet', type="text/css")
        link(href='/../public/stylesheets/screen.css', media="screen, projection", rel='stylesheet', type="text/css")
        link(href='/../public/stylesheets/grid.css', rel='stylesheet', type="text/css")
        link(href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door', rel='stylesheet', type="text/css")        
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='/../public/javascript/moodism.js')
	body
		div.container_12
			div.grid_12
				h1 M
		div.container_12#main
			div.grid_2
				include /about.jade
				include /contact.jade
			div.grid_8#questions_container
				include /media.jade
			div.grid_2
				include /rightButtons.jade