div#media
	h2 Pick a media type:

	form.options
		label
			input(type="radio" name="answer" value="photo")
			button(type="button").textAnswer Photo
		label
			input(type="radio" name="answer" value="music")
			button(type="button").textAnswer Music
		label
			input(type="radio" name="answer" value="poem")
			button(type="button").textAnswer Poem
		button(type="submit").continue Continue