div#blue_place
	h2 Where would you rather be?
	form.fourPhotos
		label
			input(type="radio" name="place" value="cookies")
			img(width="100px" height="80px" src="images/cookies.jpg")
		label
			input(type="radio" name="place" value="beach")
			img(width="100px" height="80px" src="images/beach.jpg")

	button(type='submit').continue Continue