div.grid_2
	button(type="button" data-questionref="media").nav_btn
	button(type="button" data-questionref="color").nav_btn
	button(type="button" data-questionref="place").nav_btn
	button(type="button" data-questionref="dog").nav_btn
	button(type="button" data-questionref="year").nav_btn