/* ======== Main Syling ======== */
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======== Variables ======== */
@font-family : 'The Girl Next Door';
/* ======== General Styling ======== */
/* line 3, ../sass/_general.scss */
html {
  overflow: hidden;
}

/* line 7, ../sass/_general.scss */
body {
  background-image: url("../images/background.png");
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 16, ../sass/_general.scss */
#media, #color, #red-place, #blue-place, #green-place, #yellow-place, #dog, #year {
  width: 400px;
  margin: 0px auto;
  position: relative;
  top: -40px;
}

/* line 24, ../sass/_general.scss */
#color, #dog {
  top: -80px;
}

/* line 28, ../sass/_general.scss */
#media {
  top: -15px;
}

/* ======== Fonts + Printing ======== */
/* line 34, ../sass/_general.scss */
h1 {
  color: #a5e8c8;
  font-family: "The Girl Next Door";
  font-size: 135px;
  font-family: "The Girl Next Door";
  font-style: italic;
  padding-top: 25px;
}

/* line 44, ../sass/_general.scss */
h2 {
  text-align: center;
  color: #a5e8c8;
  font-family: "The Girl Next Door";
  font-size: 45px;
}

/* line 52, ../sass/_general.scss */
p {
  text-align: center;
  color: #a5e8c8;
  font-family: "The Girl Next Door";
  font-size: 35px;
}

/* ======== Modal windows ======== */
/* line 3, ../sass/_modal.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  color: black !important;
}

/* line 19, ../sass/_modal.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 24, ../sass/_modal.scss */
.modalDialog > div {
  width: 400px;
  height: 400px;
  position: relative;
  top: 45px;
  border-radius: 50%;
  margin: auto;
  background: #ffffcc;
  box-sizing: padding-box;
}

/* line 36, ../sass/_modal.scss */
.modalDialog > div > div > * {
  color: #343434;
}

/* line 40, ../sass/_modal.scss */
.modalDialog > div > div > p {
  font-size: 25px;
}

/* line 44, ../sass/_modal.scss */
.modalDialog > div > div {
  position: relative;
  top: 50px;
  margin: 50px 40px 0px 40px;
}

/* line 50, ../sass/_modal.scss */
.modalDialog > div > h2 {
  color: #343434;
  font-size: 45px;
}

/* ======== Close buttons of modal ======== */
/* line 57, ../sass/_modal.scss */
.close {
  background: #ffffcc;
  color: #f5f5f5;
  line-height: 35px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -50px;
  right: 15px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 75, ../sass/_modal.scss */
.close:hover {
  background: #a5e8c8;
}

/* ======== Arrow styling ======== */
/* line 3, ../sass/_arrow.scss */
.arrow {
  position: absolute;
  background: #a5e8c8;
  border: 4px solid #7c8093;
  left: 35px;
  top: 15px;
  font-size: 17px;
  font-family: "The Girl Next Door";
  text-align: center;
  height: 35px;
  width: 70px;
  padding: 5px;
  font-weight: 600;
  border-radius: 30%;
  display: inline-block;
  -webkit-animation: fade_in 3s ease forwards;
  -moz-animation: fade_in 3s ease forwards;
}

@-moz-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 32, ../sass/_arrow.scss */
.arrow:after, .arrow:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 43, ../sass/_arrow.scss */
.arrow:after {
  border-color: transparent;
  border-left-color: #a5e8c8;
  border-width: 10px;
  margin-top: -10px;
}

/* line 49, ../sass/_arrow.scss */
.arrow:before {
  border-color: transparent;
  border-left-color: #7c8093;
  border-width: 16px;
  margin-top: -16px;
}

/* ======== Text-based Questions ======== */
/* line 3, ../sass/_text_question.scss */
.textAnswer, .continue, .start, .about, .startOver {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-family: "The Girl Next Door";
  font-size: 35px;
  color: #a5e8c8;
  background-color: #7c8093;
  border: 4px solid #51456c;
  box-sizing: border-box;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
}

/* ======== Photo-based Questions ======== */
/* line 3, ../sass/_photo_question.scss */
.fourPhotos, .twoPhotos {
  text-align: center;
}

/* line 6, ../sass/_photo_question.scss */
#year button[type=button] {
  font-size: 45px;
}

/* line 13, ../sass/_photo_question.scss */
img {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin: 2px;
  border: 4px solid #000000;
  border-radius: 5px;
  vertical-align: middle;
}

/* ======== All Questions ======== */
/* line 3, ../sass/_all_questions.scss */
form {
  margin-top: 3%;
}

/* line 7, ../sass/_all_questions.scss */
.prompt {
  margin-top: 10%;
}

/* line 11, ../sass/_all_questions.scss */
.options, .label {
  text-align: center;
}

/* line 15, ../sass/_all_questions.scss */
label > input {
  /* HIDE RADIO */
  display: none;
}

/* line 19, ../sass/_all_questions.scss */
label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

/* line 24, ../sass/_all_questions.scss */
.continue:before {
  content: " ";
  display: block;
}

/* line 29, ../sass/_all_questions.scss */
.continue {
  bottom: 0px;
  display: none;
  background-color: #51456c;
  font-weight: 900;
  border: 3px solid #f5f5f5;
}

/* line 38, ../sass/_all_questions.scss */
.selected_btn, .selected_img {
  border: 7px solid #f5f5f5;
}

/* ======== Side Navigation ======== */
/* line 3, ../sass/_side_buttons.scss */
.side, .nav_btn {
  display: block;
  margin-top: 25px;
  color: #f5f5f5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: #51456c;
  border: 2px solid #f5f5f5;
  font-family: sans-serif;
  line-height: 10px;
}

/* line 17, ../sass/_side_buttons.scss */
.nav_btn {
  margin-left: 80%;
}

/* line 21, ../sass/_side_buttons.scss */
.past_nav_btn {
  background-color: #296c4c;
}

/* ======== Home Page ======== */
/* line 4, ../sass/_homepage.scss */
#title {
  text-align: center;
  padding-top: 50px;
}

/* line 10, ../sass/_homepage.scss */
#homepage {
  text-align: center;
  top: 135px;
}

/* line 16, ../sass/_homepage.scss */
.start, .about {
  display: inline-block;
  text-decoration: none;
  line-height: 55px;
  font-weight: 900;
  border: 4px solid #f5f5f5;
}

/* ======== Final page ======== */
/* line 3, ../sass/_final.scss */
iframe {
  margin: 50px auto;
}

/* line 7, ../sass/_final.scss */
#finalside {
  margin-left: 12px;
}

/* line 11, ../sass/_final.scss */
#final {
  position: relative;
  top: -130px;
}

/* line 16, ../sass/_final.scss */
#final * {
  text-align: center;
}
