/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======== Variables ======== */
@font-family : 'The Girl Next Door', cursive;
/* ======== Main Syling ======== */
/* line 24, ../sass/screen.scss */
body {
  background-image: url("../images/background.png");
}

/* line 28, ../sass/screen.scss */
#title {
  color: #a5e8c8;
  font-size: 35px;
  text-align: center;
  padding-top: 50px;
}

/* line 36, ../sass/screen.scss */
#video {
  margin-top: 20px;
}

/* ======== Fonts + Printing ======== */
/* line 42, ../sass/screen.scss */
h1 {
  color: #a5e8c8;
  font-family: "Bad Script", "The Girl Next Door";
  font-size: 135px;
  font-family: "Bad Script", "The Girl Next Door";
  font-style: italic;
  padding-top: 25px;
}

/* line 52, ../sass/screen.scss */
h2 {
  text-align: center;
  color: #a5e8c8;
  font-family: "Bad Script", "The Girl Next Door";
  font-size: 45px;
}

/* line 60, ../sass/screen.scss */
p {
  text-align: center;
  color: #a5e8c8;
  font-family: "Bad Script", "The Girl Next Door";
  font-size: 35px;
}

/* ======== Side Navigation ======== */
/* line 68, ../sass/screen.scss */
.side, .nav_btn {
  display: block;
  margin-top: 25px;
  color: #f5f5f5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 25px;
  background-color: #51456c;
  border: 2px solid #f5f5f5;
  font-family: sans-serif;
  line-height: 10px;
}

/* line 83, ../sass/screen.scss */
.videoResult {
  margin: 100px auto 100px auto;
}

/* line 87, ../sass/screen.scss */
.nav_btn {
  margin-left: 80%;
}

/* line 91, ../sass/screen.scss */
.past_nav_btn {
  background-color: #7c8093;
}

/* ======== "About" Modal ======== */
/* line 96, ../sass/screen.scss */
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 110, ../sass/screen.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 114, ../sass/screen.scss */
.modalDialog > div {
  width: 400px;
  height: 400px;
  position: relative;
  top: 135px;
  border-radius: 50%;
  margin: auto;
  background: #ffffcc;
  padding: 50px 40px 0px 40px;
  box-sizing: padding-box;
}

/* line 125, ../sass/screen.scss */
.modalDialog > div > * {
  color: #343434;
  font-size: 25px;
}

/* line 129, ../sass/screen.scss */
.modalDialog > div > h2 {
  color: #343434;
  font-size: 45px;
}

/* line 133, ../sass/screen.scss */
.close {
  background: #ffffcc;
  color: #f5f5f5;
  line-height: 35px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -1px;
  right: 30px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 150, ../sass/screen.scss */
.close:hover {
  background: #a5e8c8;
}

/* ======== Text-based Questions ======== */
/* line 154, ../sass/screen.scss */
.textAnswer, .continue, .startOver, .start, .about {
  display: block;
  margin: 20px auto 20px auto;
  width: 200px;
  height: 60px;
  line-height: 60px;
  font-family: "Bad Script", "The Girl Next Door";
  font-size: 35px;
  color: #a5e8c8;
  background-color: #7c8093;
  border: 4px solid #51456c;
  box-sizing: border-box;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  border-radius: 7%;
}

/* ======== Photo-based Questions ======== */
/* line 171, ../sass/screen.scss */
.fourPhotos, .twoPhotos {
  text-align: center;
}

/* line 174, ../sass/screen.scss */
#year button[type=button] {
  font-size: 45px;
}

/* line 179, ../sass/screen.scss */
.continue:before {
  content: " ";
  display: block;
}

/* line 184, ../sass/screen.scss */
.continue {
  bottom: 0px;
  display: none;
  background-color: #51456c;
  font-weight: 900;
}

/* line 197, ../sass/screen.scss */
img {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin: 2px;
  border: 4px solid #000000;
  border-radius: 5px;
  vertical-align: middle;
}

/* line 208, ../sass/screen.scss */
.options, .label {
  text-align: center;
}

/* line 212, ../sass/screen.scss */
label > input {
  /* HIDE RADIO */
  display: none;
}

/* line 215, ../sass/screen.scss */
label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

/* line 219, ../sass/screen.scss */
.selected_btn, .selected_img {
  border: 4px solid #f5f5f5;
}

/* ======== Home Page ======== */
/* line 224, ../sass/screen.scss */
#homepage {
  text-align: center;
  top: 135px;
}

/* line 230, ../sass/screen.scss */
.start, .about {
  display: inline-block;
  text-decoration: none;
  line-height: 55px;
  font-weight: 900;
  border: 4px solid #f5f5f5;
}

/* ======== All Questions ======== */
/* line 240, ../sass/screen.scss */
form {
  margin-top: 3%;
}

/* line 243, ../sass/screen.scss */
.prompt {
  margin-top: 10%;
}

/* line 246, ../sass/screen.scss */
.continue:before {
  content: " ";
  display: block;
}

/* line 250, ../sass/screen.scss */
.continue {
  bottom: 0px;
  display: none;
  background-color: #51456c;
  font-weight: 900;
  border: 3px solid #f5f5f5;
}
